<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Payment Page</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
  }
</style>
</head>
<body>

<div class="myDiv">
  <h2>SPORTY SHOES</h2>
</div>
<br><br>
Your Payment is Successful and Order is Confirmed !!!
<br><br>
<br>
Order Summary
<br>


<table class="table table-striped text-center ">
<tr th:each="cart:${orderlist}">
<td th:text="${cart.purchaseId}"></td>
<td th:text="${cart.productId}"></td>
<td th:text="${cart.price}"></td>
<td th:text="${cart.qty}"></td>
<td th:text="${cart.date_of_purchase}">
</tr> 
</table>
<a th:href="@{'/logout'}" class="btn btn-info" role="button">LogOut</a>

</body>
</html>